<form
  [formGroup]="registrationForm"
  class="registration-form"
  (ngSubmit)="onSubmitForm()"
  fxLayout="column">
  <h1>New User?</h1>
  <mat-form-field hintLabel="Minimum 8 characters">
    <input matInput placeholder="Username" formControlName="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="Password" type="password">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Verify Password"
      formControlName="PasswordConfirmation"
      type="password"
      [errorStateMatcher]="CrossFieldErrorMatcher">
    <mat-error *ngIf="registrationForm.hasError('passwordsDoNotMatch')">
      Passwords do not match!
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    type="submit"
    [disabled]="registrationForm.invalid"
    color="primary"
    (click)="onSubmitForm()"
    mat-dialog-close>
      Register
  </button>
</form>

