.background-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4)),
      url("../../../assets/chuttersnap-u-Qgv9qY48Q-unsplash.jpg"),
      no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    position: fixed;
    min-height: 100vh;
  }