<mat-card
  class="create-bet-card"
  fxLayout="row"
  fxLayoutAlign="space-evenly center">
  <form
    fxLayoutGap="20px"
    class="create-bet-form"
    [formGroup]="createBetForm">
    <mat-form-field class="win-condition-dropdown">
      <mat-label>Select Win Condition</mat-label>
      <mat-select>
        <mat-option *ngFor="let condition of conditions" [value]="condition.condition">
          {{ condition.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-amount">
      <input
        matInput
        placeholder="Amount"
        formControlName="Amount"
        type="number">
    </mat-form-field>
  </form>
  <img
    (click)="CreateBet()"
    src="../../../assets/1x/outline_add_circle_outline_black_18dp.png"
    class="create-bet-btn">
</mat-card>
