.header-brand {
    padding: 0;
}
  
.header-brand-logo {
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 1.5rem;
}

.nav-toolbar {
    margin: 0;
    padding: 0;
}

.github-icon {
    height: 1.5rem;
}

.top-navbar-login-btn {
    margin-right: 1.5rem;
}

.github-button {
    margin-right: 1.5rem;
    border: none;
    cursor: pointer;
}