<div fxLayoutAlign="center center" class="background-img">
  <mat-card class="login-form-card">
    <form
      class="login-form"
      [formGroup]="loginForm"
      fxLayout="column"
      fxLayoutAlign="center center">
      <h1 class="login-header">SportsBets</h1>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="Password" type="password">
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        (click)="onLogin()"
        class="login-btn"
        color="primary"
        [disabled]="loginForm.invalid">Login</button>
      <div class="line-break"></div>
      <p>Don't have an account?</p>
      <button
        matInput
        mat-stroked-button
        type="button"
        color="primary"
        class="link sign-up-link"
        (click)="openRegistrationForm()">SIGN UP FOR FREE</button>
    </form>
  </mat-card>
</div>

