<form
  [formGroup]="registrationForm"
  class="registration-form"
  (ngSubmit)="onSubmitForm()"
  fxLayout="column">
  <h1>New User?</h1>
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirm Password" formControlName="PasswordConfirmation">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Submit</button>
</form>

