<mat-card class="welcome-card" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <!-- <mat-card-title><img class="profile-pic" src="../../assets/no-profile-pic-icon-12.png"></mat-card-title> -->
  </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly">
      <h1 class="welcome-user-header">Welcome {{ username }}</h1>
      <p class="balance-header">Available Balance:</p>
      <p class="balance">{{ availableBalance$ | async | number }} points</p>
    </mat-card-content>
  </mat-card>
