  <app-welcome-card></app-welcome-card>
  <h3 class="current-wagers-header">Current Wagers</h3>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date Created.</mat-header-cell>
      <mat-cell *matCellDef="let wager"> {{ wager.date }}</mat-cell>
    </ng-container>
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
      <mat-cell *matCellDef="let wager"> {{ wager.amount }}</mat-cell>
    </ng-container>
    <!-- Bettor Column -->
    <ng-container matColumnDef="bettor">
      <mat-header-cell *matHeaderCellDef>Bettor</mat-header-cell>
      <mat-cell *matCellDef="let wager"> {{ wager.bettor }}</mat-cell>
    </ng-container>
    <!-- Time Remaining Column -->
    <ng-container matColumnDef="timeLeft">
      <mat-header-cell *matHeaderCellDef>Time Remaining</mat-header-cell>
      <mat-cell *matCellDef="let wager"> {{ wager.timeLeft }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>