<mat-toolbar color="primary" class="mat-elevation-z5 nav-toolbar" fxFill>
    <mat-toolbar-row class="header-brand">
      <span class="header-brand-logo">SportsBets</span>
      <span fxFlex></span>
      <button
        fxLayout="row"
        fxLayoutAlign="center center"
        class="header-logout-btn"
        (click)="onLogin()"
        color="basic"
        mat-stroked-button>
        Log In
      </button>
      <button
      fxLayout="row"
      fxLayoutAlign="center center"
      class="header-logout-btn"
      (click)="onSignUp()"
      color="basic"
      mat-stroked-button>
      Sign Up
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
